.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .form-outline {
    display: flex;
    flex-direction: column;
  }
  
  .form-check-inline {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }